
    body {
      font-family: Arial, sans-serif;
      text-align: center;
      padding-top: 50px;
      background-color:rgb(109, 171, 226);
    }
     button {
      padding: 10px 20px;
      margin: 10px;
      font-size: 18px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      /* transition: background 0.3s ease; */
    }
     button:hover {
      background-color: #ca0b0b;
    }
    #result {
      font-size: 22px;
      margin-top: 30px;
      font-weight: bold;
    }